<h1 class="mb-2 text-xl font-extrabold">Exercise 8</h1>
<p class="mb-2">Use 'fn' to call a function from the controller, 'get' to access a property value, and 'if' to display a message
depending on the state of the property.</p>
<LinkTo class="italic underline" @route="entry-level-exercises.ex-08.solution" >Solution Exercise 8
</LinkTo>
