<h1 class="mb-2 text-xl font-extrabold">Exercise 5</h1>
<p class="mb-2">Use 'each' to iterate over an array of items, display the length of the array using 'length', and apply a
conditional class with 'if' to change text color to blue for items with 'surname' attribute</p>
<LinkTo class="italic underline" @route="entry-level-exercises.ex-05.solution" >Solution Exercise 5
</LinkTo>
