<h1 class="mb-2 text-xl font-extrabold">Solution Exercise 5</h1>
<EntryLevelExercises::ex-05::Solution::ItemList />

<h1 class="mt-12 text-xl font-extrabold">Code</h1>
<h2 class="text-xl font-bold">Item List</h2>
<CodeSnippet @name="item-list.hbs" />
<CodeSnippet @name="item-list.ts" />
