<h1 class="mb-2 text-xl font-extrabold">Exercise 9</h1>
<p class="mb-2">Use 'yield' to allow dynamic content to be passed to a component, 'if' to conditionally render content, and 'get'
to access a property within the component.</p>
<LinkTo class="italic underline" @route="entry-level-exercises.ex-09.solution" >Solution Exercise 9
</LinkTo>
