<h1 class="mb-2 text-xl font-extrabold">Exercise 2</h1>
<p class="mb-2">Create an input field within a component that adds values to a list using a tracked variable and a local helper..</p>
<LinkTo class="italic underline" @route="entry-level-exercises.ex-02.solution" >Solution Exercise 2
</LinkTo>
