<h1 class="mb-2 text-xl font-extrabold">Solution Exercise 2</h1>
<EntryLevelExercises::ex-02::Solution::InputList />

<h1 class="mt-12 text-xl font-extrabold">Code</h1>
<h2 class="text-xl font-bold">Input List</h2>
<CodeSnippet @name="input-list.hbs" />
<CodeSnippet @name="input-list.ts" />
