<h1 class="mb-2 text-xl font-extrabold">Exercise 3</h1>
<p class="mb-2">Based on the previous exercise, create a button that deletes the item from the list specified by an input, using a local
helper with a named argument for the item to delete.</p>
<LinkTo class="italic underline" @route="entry-level-exercises.ex-03.solution" >Solution Exercise 3
</LinkTo>
