<h1 class="mb-2 text-xl font-extrabold">Solution Exercise 3</h1>
<EntryLevelExercises::ex-03::Solution::InputListDelete />

<h1 class="mt-12 text-xl font-extrabold">Code</h1>
<h2 class="text-xl font-bold">Input List Delete</h2>
<CodeSnippet @name="input-list-delete.hbs" />
<CodeSnippet @name="input-list-delete.ts" />
