<h1 class="mb-2 text-xl font-extrabold">Exercise 1</h1>
<p class="mb-2">Create a component that renders two child components: one to display the user's name and another to display their
profession. The components will be located in folders named information and profession respectively, and the ::
separator will be used to reference them. A string will be passed to each component as an argument, and the component
will be responsible for rendering that string.</p>
<LinkTo class="italic underline" @route="entry-level-exercises.ex-01.solution" >Solution Exercise 1
</LinkTo>
