<h1  class="mb-2 text-xl font-extrabold">Solution Exercise 1</h1>
<EntryLevelExercises::ex-01::Solution::Information::UserInfo @name="John Doe" />
<EntryLevelExercises::ex-01::Solution::Profession::UserProfession @profession="Software Engineer" />

<h1 class="mt-12 text-xl font-extrabold">Code</h1>
<h2 class="text-xl font-bold">User Info</h2>
<CodeSnippet @name="user-info.hbs"/>
<CodeSnippet @name="user-info.ts" />

<h2 class="mt-4 text-xl font-bold">User Profession</h2>
<CodeSnippet @name="user-profession.hbs" />
<CodeSnippet @name="user-profession.ts" />
