<h1 class="mb-2 text-xl font-extrabold">Exercise 6</h1>
<p class="mb-2">Use 'get' to access properties of an object, 'concat' to concatenate strings, and 'let' to create a temporary
variable within the template.</p>
<LinkTo class="italic underline" @route="entry-level-exercises.ex-06.solution" >Solution Exercise 6
</LinkTo>
