<h1 class="mb-2 text-xl font-extrabold">Exercise 4</h1>
<p class="mb-2">Create a global helper called ex-04 in the app/helpers directory that trims a string. Use this helper in the input field
to add values to the list from the previous exercise.</p>
<LinkTo class="italic underline" @route="entry-level-exercises.ex-04.solution" >Solution Exercise 4
</LinkTo>
