<h1 class="mb-2 text-xl font-extrabold">Exercise 7</h1>
<p class="mb-2">Use 'get' to retrieve a date, 'format-date' to format it, and 'unless' to display a message if the date is empty.
</p>
<LinkTo class="italic underline" @route="entry-level-exercises.ex-07.solution" >Solution Exercise 7
</LinkTo>
