<h1 class="mb-2 text-xl font-extrabold">Ember exercises</h1>
<p>On this application, you will find a collection of exercises designed specifically to help you learn and reinforce the key concepts of Ember.js</p>
<h1 class="mt-8 mb-2 text-xl font-extrabold">Instructions</h1>
<p class="mb-4">You can find different kind of exercises using the navigation bar on the left side , by clicking on each link you will be redirected to the instructions page of the exercise where some acceptance criteria to complete the exercises are defined. </p>
<p class="mb-4">A solution link is included at the bottom of each exercise to use it to check if your solution is correct or in case you have any doubt. </p>
<p class="mb-4">In order to mantain the application structure we recommend to create your own solution with the next structure: <strong>entry-level-exercise/ex-01/my-solution </strong>as a sibling of already defined solution in each of the already ember folder defined for app |components, controllers, models, routes, services, templates...| but feel free to create new structure as convenience.</p>
